# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.next-dev.log
*.code-workspace

# keys and certs
*.key
*.p12
*.pfx
*.crt
*.der
*.jks
*.keystore
*.pkcs12
*.pkcs8
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub
.ssh/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.backup
.code-workspace

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.env.production
